html,
body,
#main{
  width: 100%;
  height: 100%;
}
body,
h2{
  margin:0;
}
#main{
  position: relative;
  text-align: center;
  overflow: hidden;
  min-width:300px;
  max-width: 400px;
  margin:0 auto;
}
h2{
  margin-top:60px;
  color:#666;
}
#hint{
  color:#e00;
  font-size: .8em;
}
#handlock{
  position: relative;
  /*
      实现响应式,使用dom构造一个正方形容器，
      这里使用padding-bottom:100%;
  */
  width: 100%;
  padding-bottom:100%;
  height: 0;
}
#handlock canvas{
  position: absolute;
  left:50%;
  top:50%;
  transform: translate(-50%,-50%) scale(0.5);
  /*background: blue;*/
}
#toast{
  position: absolute;
  color:#fff;
  background: #000;
  border-radius: 5px;
  padding: 16px 16px;
  opacity: 0.8;
  font-size: .8em;
  /*z-index: 9999;*/
  left:50%;
  top:50%;
  transform: translate(-50%,-50%);
}
#toast.hide {
  opacity:0;
  transition: all 1s;
  visibility: hidden;
}
#toast.show{
  opacity: 1;
  visibility: visible;
}
input{
  outline: none;
}
